@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@400;500;700&display=swap');

:root{
    /* Text */
    --main-text-color: #161616;
    --main-off-color: rgb(182, 224, 194);
    --banner-color: #fff;

    /* BGs */

    --main-bg-color: #87978f;
    --second-bg-color: #fff;

    /* Fonts */

    --main-font: 'Montserrat', sans-serif;
    --second-font: 'Karla', sans-serif;

    /* Font-weight */

    --font-400: 400;
    --font-500: 500;
    --font-700: 700;
}